{{ if eq .chezmoi.os "windows" -}}

@echo off
setlocal

set SOURCE={{ .chezmoi.sourceDir }}\dot_config\vim
set DEST=%USERPROFILE%\vimfiles
set HEXO_SOURCE={{ .chezmoi.sourceDir }}\support_files\hexokinase.exe
set HEXO_DEST_DIR=%DEST%\plugged\vim-hexokinase\hexokinase
set HEXO_DEST_FILE=%HEXO_DEST_DIR%\hexokinase.exe

echo Sincronizzazione Vim files...

:: Controllo se ci sono dei file differenti
robocopy.exe "%SOURCE%" "%DEST%" /L /MIR /R:1 /W:1 /NFL /NDL /NJH /NJS /XD "plugged" "info" "log" "session" "undo" "view" > nul

if errorlevel 1 (
    echo Rilevate modifiche, sincronizzazione in corso...
    robocopy.exe "%SOURCE%" "%DEST%" /MIR /R:1 /W:1 /NFL /NDL /NJH /NJS /XD "plugged" "info" "log" "session" "undo" "view"
    timeout /t 3 /nobreak > nul

    :: Cartella per i plugin
    if not exist "%DEST%\plugged" mkdir "%DEST%\plugged"

    :: Cartelle per i file di stato di Vim
    if not exist "%DEST%\files"         mkdir "%DEST%\files"
    if not exist "%DEST%\files\info"    mkdir "%DEST%\files\info"
    if not exist "%DEST%\files\log"     mkdir "%DEST%\files\log"
    if not exist "%DEST%\files\session" mkdir "%DEST%\files\session"
    if not exist "%DEST%\files\undo"    mkdir "%DEST%\files\undo"
    if not exist "%DEST%\files\view"    mkdir "%DEST%\files\view"
    
    echo Sincronizzazione completata.
    echo Installazione plugin Vim...
    vim.exe -c "PlugInstall" -c "qa"
    echo Plugin installati.

    if exist "%HEXO_SOURCE%" (
        :: Controlla se la cartella di destinazione è stata creata da vim-plug
        if exist "%HEXO_DEST_DIR%" (
            echo Copiando hexokinase.exe...
            copy /y "%HEXO_SOURCE%" "%HEXO_DEST_FILE%" > nul
        ) else (
            echo      ATTENZIONE: La cartella per hexokinase non esiste. Il plugin potrebbe non essere installato.
        )
    )
) else (
    echo Nessuna modifica rilevata.
)

{{ end -}}
