:root {
  --cc-bg: #1e1e2e;
  --noti-bg: 30, 30, 46;
  --noti-bg-alpha: 1;
  --noti-bg-alt: #313244;
  --noti-bg-darker: #181825;
  --noti-bg-hover: #313244;
  --noti-bg-focus: #45475a;
  --noti-close-bg: #45475a;
  --noti-close-bg-hover: #585b70;
  --noti-border-color: #585b70;
  --text-color: #cdd6f4;
  --text-color-disabled: #a6adc8;
  --bg-selected: #89b4fa;
}
