[user]
    name  = sphynx79
    email = miboscol@gmail.com

[core]
    autocrlf     = false
    eol          = lf
    safecrlf     = true
    preloadindex = true
    pager        = delta
    filemode     = false
    fsmonitor    = true

[interactive]
    diffFilter = delta --color-only

[delta]
    syntax-theme      = DarkNeon
    blame-palette     = "#4C566A #3F5168 #304B66 #375E5C #4B5F46 #7C6636 #7A523D #723B46 #5E4A60"
    navigate          = true
    side-by-side      = true
    dark              = true
    blame-code-style  = syntax
    hyperlinks        = true

[push]
    default           = simple
    recurseSubmodules = check

[alias]
    co   = checkout
    ci   = commit
    st   = status
    br   = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p

[color]
    ui = true

[taggrouping]
    groups  =
    singles =

[gc]
    autoDetach = false

[commit]
    gpgSign = false

[pull]
    rebase = true

[init]
    defaultBranch = master

[gui]
    pruneduringfetch = true

[smartgit "submodule"]
    fetchalways   = false
    update        = true
    initializenew = true


{{- if eq .chezmoi.os "windows" }}

[core]
    fscache  = true
    filemode = false
    editor   = gvim -f

[diff]
    tool = winmerge
[difftool "winmerge"]
    cmd = C:/APPL/WinMerge/WinMergeU.exe -e -ub -x -wl -u -maximise -dl base -dr mine "$LOCAL" "$REMOTE"
[difftool]
    prompt = false

[merge]
    tool          = winmerge
    conflictstyle = zdiff3
[mergetool "winmerge"]
    name          = WinMerge
    trustExitCode = true
    cmd           = C:/APPL/WinMerge/WinMergeU.exe -u -e $LOCAL $REMOTE

[http]
    sslcainfo = C:\\APPL\\cmder\\vendor\\git-for-windows\\ca-bundle.crt
    sslVerify = false

[credential "helperselector"]
    selected = wincred

{{- else if eq .chezmoi.os "linux" }}
[core]
    filemode = true
    editor   = vim

[diff]
    tool = meld
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[difftool]
    prompt = false

[merge]
    tool          = meld
    conflictstyle = zdiff3
[mergetool "meld"]
    name          = Meld
    trustExitCode = true
    cmd           = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

[credential]
    helper = cache --timeout=3600

{{- end }}
