:root {
  --cc-bg: #2e3440;
  --noti-bg: 46, 52, 64;
  --noti-bg-alpha: 1;
  --noti-bg-alt: #3b4252;
  --noti-bg-darker: #272e39;
  --noti-bg-hover: #3b4252;
  --noti-bg-focus: #434c5e;
  --noti-close-bg: #434c5e;
  --noti-close-bg-hover: #4c566a;
  --noti-border-color: #4c566a;
  --text-color: #d8dee9;
  --text-color-disabled: #abb5c8;
  --bg-selected: #88c0d0;
}
