:root {
  --cc-bg: #2d353b;
  --noti-bg: 45, 53, 59;
  --noti-bg-alpha: 1;
  --noti-bg-alt: #343f44;
  --noti-bg-darker: #272e33;
  --noti-bg-hover: #343f44;
  --noti-bg-focus: #3d484d;
  --noti-close-bg: #3d484d;
  --noti-close-bg-hover: #475258;
  --noti-border-color: #4f585e;
  --text-color: #d3c6aa;
  --text-color-disabled: #9da9a0;
  --bg-selected: #a7c080;
}
