:root {
  --cc-bg: #eff1f5;
  --noti-bg: 239, 241, 245;
  --noti-bg-alpha: 1;
  --noti-bg-alt: #e6e9ef;
  --noti-bg-darker: #e6e9ef;
  --noti-bg-hover: #dce0e8;
  --noti-bg-focus: #ccd0da;
  --noti-close-bg: #ccd0da;
  --noti-close-bg-hover: #bcc0cc;
  --noti-border-color: #9ca0b0;
  --text-color: #4c4f69;
  --text-color-disabled: #5c5f77;
  --bg-selected: #1e66f5;
}
